body{
    margin: 0;
    padding: 0;
    min-width: 600px;
}
.fl {
    float: left;
    margin-right: 60px;
}

input[type="number"] {
    width: 3em;
}

h1 {
    text-align: center;

}
span{
    margin-left: 15% ;
}
.search_panel {
    border: solid 1px black;
    padding: 20px;
    width: 70%;
    margin-left: 15%;

}

table {
    border-collapse: collapse;
    width: 75%;
    margin-left: 15%;
    text-align: center;
}

.create_employee {
    width: 60%;
}

.create_employee div {
    width: 300px;
    margin: 0 0 0 auto;
}

.create_employee div:last-child {
    margin-right: 20px;
}

#file {
    margin-right: -123px !important;
}

#status {
    height: 50px;
    min-width: 200px;
}

.photo {
    width: auto;
    height: 30px;
}
.zm{
    height: auto;
    width: 150px;
}
#zoom{
    position: absolute;
}

.m {
    color: #00f;
}

.f {
    color: deeppink;
}

.employees_table{
    position: relative;
    min-height: 180px;
}
.pagination{
position: absolute;
    bottom: -30px;
    left: 28%;
}